body{
    gap: 124px;
    font-family: Poppins, sans-serif, Arial, Helvetica;
}

main{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

#about-content{
    height: 150px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.about-title, .work-experience-title, .experience-job, .education-title {
    color: #42446E;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -1px;
}

.about-paragraph {
    width: 80%;
    color: var(--Dark-Content);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

/* Section - Work Experience */
.work-experience-content, .education-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.experience-box, .education-box{
    display: flex;
    flex-direction: row;
}

.content-job, .content-education {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.content-company, .content-school {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: row;
}

.company-img {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-job, .icon-school{
    width: 25px;
    /* height: 14px; */
}

.status-job, .status-school {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 12px;
}

.calendar {
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.format-job, .format-school {
    width: 100px;
    height: 30px;
    
    border-radius: 100px;
    background-color: #D7FFE0;

    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    color: #018C0F;

    display: flex;
    align-items: center;
    justify-content: center;
}

.date-job, .date-school{
    color: var(--Dark-Content);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

.experience-job, .experience-company, .experience-local, .education-course, .education-company, .education-local{
    font-weight: 400;
    color: var(--Dark-Content);
    font-size: 20px;
}

hr{
    width: 100%;
    border: #000000 2px solid;
}

@media (prefers-color-scheme: dark){
    .about-title, .work-experience-title, .education-title{
        color: var(--Solid-Heading-DarkMode);
    }

    .about-paragraph, .experience-job, .experience-company, .experience-local, .date-job, .date-school{
        color: var(--Light-Content);
    }

    hr{
        border: #EBEAED 2px solid;

    }
}