:root {
    --Solid-Heading: #42446E;
    --Gradient-Heading: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
    --Dark-Content: #666;

    /* Dark Mode - Variables */
    --Light-Content: #A7A7A7;
    --Dark-Mode: #191919;
    --Solid-Heading-DarkMode: #CCCCCC;
}

body {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;    

    gap: 125px;

    transition: all 0.5s;
}

/* Header */
.cabecalho {
    width: 80%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}

.cabecalho-logo .cabecalho-title, .span-name {
    background: var(--Gradient-Heading);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "DM Sans";
    font-size: 21px;
    transition: all 0.8s;
}

.hamburguer {
    display: none;
}

.cabecalho-menu .cabecalho-ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
}

.cabecalho-menu .cabecalho-ul li a {
    text-decoration: none;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    color: var(--Dark-Content);
    transition: all 0.4s;
}

.cabecalho-menu .cabecalho-ul li a:hover {
    color: #000000;
}

.cabecalho-icons {
    display: flex;
    align-items: center;
    gap: 20px;

}

.cabecalho-icon-item {
    width: 30px;
    height: 30px;
    transition: all 0.4s;
}

.cabecalho-icon-item:hover {
    transform: scale(1.2);
}

/* Main Sobre */
#about-content {
    width: 78%;
    height: 350px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 38px;
}

.about-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about-subtitle, .span-name {
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -1px;
}

.about-foto {
    padding: 5px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
}

/* Section Tech Stack */
.tech-content,
.projects-content {
    width: 78%;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 65px;
}

.tech-text,
.projects-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 49px;
}

.tech-subtitle,
.projects-subtitle {
    color: var(--Solid-Heading);

    font-family: Poppins;
    text-align: center;
    font-size: 34px;
    font-weight: 700;
}

.tech-paragraph,
.projects-paragraph {
    color: var(--Dark-Content);
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

.tech-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.tech-row,
.projects-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.tech-item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.8s;

}

.tech-item:hover{
    transform: scale(1.2);
}

/* Section Projects */

.projects-box {
    display: flex;
    flex-direction: column;

    background-color: #ffffff;
    filter: drop-shadow(12px 8px 20px #00000034);

    width: 370px;
    /* height: 100%; */
    border-radius: 20px;
    transition: all 0.6s;
}

.projects-box:hover{
    transform: scale(1.1);
}

.projects-content-box {
    overflow: hidden;
    display: flex;
    flex-direction: column;

    padding: 25px;
    gap: 20px;
}

.projects-box-img {
    border-radius: 20px 20px 0 0;
    max-width: 100%;
    height: 210px;
}

.projects-title-box,
.projects-paragraph-box,
.projects-tech-stack {
    color: #000000;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
}

.projects-title-box {
    height: 30px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.projects-content-text{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.projects-paragraph-box {
    color: var(--Dark-Content);
    font-size: 16px;
    font-weight: 300;
    align-self: stretch;
}

.projects-content-tech {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.projects-tech-stack {
    color: var(--Dark-Content);
    font-size: 14px;
    font-weight: 300;
}

.projects-tech-stack span {
    color: var(--Solid-Heading);
    font-size: 16px;
    font-weight: bold;
}

.projects-links {
    display: flex;
    gap: 21px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.preview-link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.img-preview-link {
    width: 20px;
    height: 20px;
    transition: all 0.6s;
}

.img-preview-link:hover{
    transform: scale(1.2);
}

.preview-link a {
    color: #000000;
    font-family: Poppins;
    font-weight: 300;
    font-size: 16px;
    transition: all 0.6s;
}

.preview-link a:hover{
    color: #13B0F5;
}

/* Footer */
footer {
    width: 78%;
    display: flex;
    flex-direction: column;
}

.title-footer{
    text-decoration: none;
    font-family: "DM Sans";
    font-size: 21px;
    color: #000000;
}

.top-footer,
.bottom-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 56px;
}

.top-footer-info,
.contact-footer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.types-contacts {
    color: var(--Solid-Heading);
    font-family: DM Sans;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    text-decoration: none;
    transition: all 0.4s;
}

.types-contacts:hover{
    color: #000000;
}

.icons-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.icons-footer-item {
    width: 30px;
    height: 30px;
    transition: all 0.4s;
}

.icons-footer-item:hover {
    transform: scale(1.2);
}

.footer-hr, hr {
    width: 100%;
    border-radius: 10px;
    border: var(--Solid-Heading) 2px solid;
}

.bottom-footer {
    margin-top: 62px;
    gap: 20px;
}

.bottom-footer-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.bottom-footer-li a {
    text-decoration: none;

    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: var(--Dark-Content);
}

.bottom-footer-li a:hover{
    color: #000000;
}

.bottom-footer-p {
    /* width: 50%; */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: var(--Dark-Content);
}

.bottom-footer-p a {
    background: var(--Gradient-Heading);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bottom-footer-p span {
    color: #13B0F5;
}

/* Change Mode */
@media (prefers-color-scheme: dark) {
    body{
        background: var(--Dark-Mode);
    }

    .cabecalho-menu .cabecalho-ul li a{
        color: var(--Light-Content);
    }

    .cabecalho-menu .cabecalho-ul li a:hover{
        color: #fff;
    }

    .about-subtitle{
        color: #D9D9D9;
    }

    /* Titulos */
    .tech-subtitle, .projects-subtitle{
        color: var(--Solid-Heading-DarkMode);
    }

    /* Paragrafos Textos */
    .tech-paragraph, .projects-paragraph{
        color: var(--Light-Content);
    }

    
    /* Projetos */
    .projects-box{
        background: #363636;
        border-radius: 20px;
        filter: drop-shadow(12px 8px 6px white);
    }

    .projects-title-box, .projects-paragraph-box{
        color: var(--Solid-Heading-DarkMode);
    }

    .projects-tech-stack, .projects-tech-stack span {
        color: var(--Solid-Heading-DarkMode);
    }

    .preview-link a{
        color: #ffffff;
    }

    .img-preview-link{
        filter: drop-shadow(0 0 2px #fff) brightness(75%);
    }

    /* Tecnologias */

    .tech-item {
        filter: drop-shadow(#fff 0 0 2px);
    }

    /* Footer */
    .title-footer{
        text-decoration: none;
        font-family: "DM Sans";
        font-size: 21px;
        color: #FFFFFF;
    }

    .types-contacts{
        color: var(--Light-Content);
    }

    .types-contacts:hover {
        color: #fff;
    }

    .footer-hr {
        border: var(--Dark-Content) 2px solid;
    }

    .bottom-footer-ul li::before,
    .bottom-footer-ul li::after {
        border-color: rgba(255, 255, 255, 0.16);
    }

    .bottom-footer-li a{
        color: var(--Light-Content);
        transition: all 0.4s;
    }

    .bottom-footer-li a:hover {
        color: white;
    }

    .bottom-footer-p {
        color: var(--Light-Content);
    }    

    /* Contact */
    .contact-info{
        color: #ffffff;
    }
}

/*

.dark-mode {
    background-color: #333;
    color: #fff;
}

.theme-change span {
    cursor: pointer;
    transition: color 0.3s;
}

.theme-change span:hover {
    color: #ff9800; 
} 

*/